<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.SeoulMapper">
<!-- 중복 제거하는 태그 (SQL) : JOIN, SubQuery -->
<!-- 
	seoul_nature
	
	${seoul_tbl} = seoul_nature
	#{seoul_tbl} = 'seoul_nature' WHERE name='홍길동'
 --> 
 <sql id="select-seoul">
   SELECT no,title,address,msg
   
 </sql>
 <select id="seoulListData" resultType="SeoulVO" parameterType="hashmap">
   <include refid="select-seoul"/>
   FROM ${seoul_tbl}
 </select>
 <select id="seoulDetailData" resultType="SeoulVO" parameterType="hashmap">
   <include refid="select-seoul"/>
   FROM ${seoul_tbl}
   WHERE no=#{no}
 </select>
</mapper>